# NBA Data Transformation

Before you can work with the nba data set, you will need to load the R package that contains the tools for working with it.

Use the library() function to load the package. In this case, we have loaded the dplyr package for you.

In [20]:
# Load the dplyr package
library(dplyr)
print('Packages Loaded')

[1] "Packages Loaded"

In [11]:
nba = read.csv('all_seasons.csv')

In [12]:
# Look at the NBA data set
head(nba)
dim(nba)

  X player_name     team_abbreviation age player_height player_weight
1 0 Chris Robinson  VAN               23  195.58         90.7184
2 1 Matt Fish       MIA               27  210.82        106.5941
3 2 Matt Bullard    HOU               30  208.28        106.5941
4 3 Marty Conlon    BOS               29  210.82        111.1300
5 4 Martin Muursepp DAL               22  205.74        106.5941
6 5 Martin Lewis    TOR               22  198.12        102.0582
  college                         country draft_year draft_round gp pts reb ast
1 Western Kentucky                USA     1996       2           41 4.6 1.7 1.6
2 North Carolina-Wilmington       USA     1992       2            6 0.3 0.8 0.0
3 Iowa                            USA     Undrafted  Undrafted   71 4.5 1.6 0.9
4 Providence                      USA     Undrafted  Undrafted   74 7.8 4.4 1.4
5 None                            USA     1996       1           42 3.7 1.6 0.5
6 Seward County Community College USA     1995       2            9 1.6 0.7 0.4
  season
1 1996-97
2 1996-97
3 1996-97
4 1996-97
5 1996-97
6 1996-97

[1] 9561   15

### Understanding NBA data frame

Now that we have loaded the nba data set, you can start examining and understanding it.

How many observations (rows) are in the data set?

In [13]:
#your code here

How many variables (columns) are in the data set?

In [15]:
#your code here

# Problem 1

When looking back at the history of the NBA, a common argument is that the average player in today's NBA is bigger and stronger than the average player in past generations of the NBA. This argument is commonly brought up when comparing the talent of great players in the NBA today to legendary players in the NBA's past. Lucky for you, we have all of the necessary tools to see if this argument holds any truth to it! But first let us see how many total seasons our data set covers.

#### Instructions

The nba data set covers from the _______ season to the _______ season?

In [17]:
# lists each unique season in the nba data set
unique(nba$season)
#from the 1996-97 season to the 2016-2017 season.

 [1] 1996-97 1997-98 1998-99 1999-00 2000-01 2001-02 2002-03 2003-04 2004-05
[10] 2005-06 2006-07 2007-08 2008-09 2009-10 2010-11 2011-12 2012-13 2013-14
[19] 2014-15 2015-16 2016-17
21 Levels: 1996-97 1997-98 1998-99 1999-00 2000-01 2001-02 2002-03 ... 2016-17

How many seasons are in the nba data set?

In [18]:
# Gives length of unique seasons in nba data set
length(unique(nba$season))
#21

[1] 21

Next let us look at the 'player_height' variable. We initially notice that the height is kept in centimeters, which is difficult to visualize. We will use the mutate function to create a new variable/column 'player_height_ft', which will be the player's height in feet. After doing a simple conversion from cm(2.54 cm per inch) to ft we find that by dividing cm by 30.48 we convert our measurement to feet.

In [19]:
nba <- nba %>%
  mutate(player_height_ft = player_height/30.48)
head(nba)

  X player_name     team_abbreviation age player_height player_weight
1 0 Chris Robinson  VAN               23  195.58         90.7184
2 1 Matt Fish       MIA               27  210.82        106.5941
3 2 Matt Bullard    HOU               30  208.28        106.5941
4 3 Marty Conlon    BOS               29  210.82        111.1300
5 4 Martin Muursepp DAL               22  205.74        106.5941
6 5 Martin Lewis    TOR               22  198.12        102.0582
  college                         country draft_year draft_round gp pts reb ast
1 Western Kentucky                USA     1996       2           41 4.6 1.7 1.6
2 North Carolina-Wilmington       USA     1992       2            6 0.3 0.8 0.0
3 Iowa                            USA     Undrafted  Undrafted   71 4.5 1.6 0.9
4 Providence                      USA     Undrafted  Undrafted   74 7.8 4.4 1.4
5 None                            USA     1996       1           42 3.7 1.6 0.5
6 Seward County Community College USA     1995       2            9 1.6 0.7 0.4
  season  player_height_ft
1 1996-97 6.416667
2 1996-97 6.916667
3 1996-97 6.833333
4 1996-97 6.916667
5 1996-97 6.750000
6 1996-97 6.500000

#### Question 1

Find the average player height in feet in the nba data set.

In [17]:
#your code here

#### Instructions

Now we will work on testing the argument that current NBA players are bigger and stronger than past NBA players by looking at the average player height in ft grouped by season. Let us use the group_by() function to group by season and the summarize function to find the mean height. Let's keep the name of the height column 'avgheight_ft'

In [21]:
nba %>% group_by(season) %>% summarize(avgheight_ft = mean(player_height_ft))

   season  avgheight_ft
1  1996-97 6.594319
2  1997-98 6.582005
3  1998-99 6.591306
4  1999-00 6.591895
5  2000-01 6.586357
6  2001-02 6.595076
7  2002-03 6.611565
8  2003-04 6.604827
9  2004-05 6.602550
10 2005-06 6.591885
11 2006-07 6.584789
12 2007-08 6.589616
13 2008-09 6.600936
14 2009-10 6.590121
15 2010-11 6.601401
16 2011-12 6.588738
17 2012-13 6.586709
18 2013-14 6.586791
19 2014-15 6.588996
20 2015-16 6.592787
21 2016-17 6.591564

What can you conclude about the average height by season?

In [21]:
#We can conclude that there is no visible trend in height that supports the claim in 
# the argument that players are bigger now than then. The average height by season stays close 
# to 6.6 for every season. Therefore we can conclude that the height of players has
# been virtually the same since 1996-97 season.

For fun, let us look at the tallest and smallest player in feet to play over the 21 NBA seasons. Let us use the filter option to find the name of the tallest and smallest player once we find their height in feet.

In [22]:
max(nba$player_height_ft)

[1] 7.583333

In [23]:
nba %>% filter(player_height_ft > 7.58)  #used > because error for '==' due to decimal count

#tallest: Gheorghe Muresan @ 7.58ft

  X    player_name      team_abbreviation age player_height player_weight
1  344 Gheorghe Muresan WAS               26  231.14        137.4384
2 1108 Gheorghe Muresan NJN               28  231.14        137.4384
3 1490 Gheorghe Muresan NJN               29  231.14        137.4384
  college country draft_year draft_round gp pts  reb ast season
1 None    USA     1993       2           73 10.6 6.6 0.4 1996-97
2 None    USA     1993       2            1  0.0 0.0 0.0 1998-99
3 None    USA     1993       2           30  3.5 2.3 0.3 1999-00
  player_height_ft
1 7.583333
2 7.583333
3 7.583333

#### Question 2

Some may argue that height does not tell the whole story, so you decide to look into weight. On your own, analyze weight.

Look at the player_weight variable. We initially notice that the weight is kept in kilograms, which is difficult to visualize. Use the mutate function to create a new variable/column 'player_weight_lbs', which will be the player's weight in pounds.
- Note: there are .453592kg per pound.

In [24]:
#your code here

#### Question 3

Find the average player weight in pounds in the nba data set.

In [27]:
#your code here

#### Question 4

Find the average weight in pounds by season. Use the group_by() function to group by season and the summarize function to find the mean weight. Let us keep the name of the weight column 'avgweight_lbs'.

In [ ]:
#your code here

What can you conclude about average height by season in reference to the argument?

In [33]:
# Your conclusion here

#### Question 5

The argument is over. The hypothesis that NBA players are bigger now is not supported after looking at height and weight by season since 1996-97 season. However, you have that one friend that keeps insisting that the argument is valid. To prove him wrong, you decide to create a new variable called BMI to further prove the argument invalid.

Create a new variable/column called 'BMI' using the mutate function.
- Note: BMI = (weight(lbs)/(height(in))^2) X 703.

In [35]:
#your code here

#### Question 6

Now that you have calculated a BMI variable, find the average BMI by season. Use the group_by() function to group by season and the summarize function to find the mean BMI. Make the name of the BMI column 'avg_BMI'.

In [37]:
#your code here

What can you conclude about average BMI by season in reference to the argument?

In [39]:
# Your conclusion here

# Problem 2

The NBA is primarily made up of players from the United States, but the league is open to almost all countries. Many say the presence of foriegn players has grown over the years. For this we will compare the number of foreign players in the league in 1996-97 season to the 2016-17 season.

We will start by analyzing the 1996-97 season.

#### Instructions

Group the number of players by country for the season of 1996-97. Use the filter() to select the 1996-97 season first.

In [41]:
season9697 = nba %>% filter(season == '1996-97')
head(season9697)

  X player_name     team_abbreviation age player_height player_weight
1 0 Chris Robinson  VAN               23  195.58         90.7184
2 1 Matt Fish       MIA               27  210.82        106.5941
3 2 Matt Bullard    HOU               30  208.28        106.5941
4 3 Marty Conlon    BOS               29  210.82        111.1300
5 4 Martin Muursepp DAL               22  205.74        106.5941
6 5 Martin Lewis    TOR               22  198.12        102.0582
  college                         country draft_year draft_round gp pts reb ast
1 Western Kentucky                USA     1996       2           41 4.6 1.7 1.6
2 North Carolina-Wilmington       USA     1992       2            6 0.3 0.8 0.0
3 Iowa                            USA     Undrafted  Undrafted   71 4.5 1.6 0.9
4 Providence                      USA     Undrafted  Undrafted   74 7.8 4.4 1.4
5 None                            USA     1996       1           42 3.7 1.6 0.5
6 Seward County Community College USA     1995       2            9 1.6 0.7 0.4
  season  player_height_ft player_weight_lbs BMI
1 1996-97 6.416667         200               23.71395
2 1996-97 6.916667         235               23.98098
3 1996-97 6.833333         235               24.56945
4 1996-97 6.916667         245               25.00145
5 1996-97 6.750000         235               25.17985
6 1996-97 6.500000         225               25.99852

Now that we have our data from the 1996-97 season selected we can group the number of players by country for the season of 1996-97. Make the name of the number of players column 'numplayers'.

In [42]:
season9697 %>% group_by(country) %>% summarize(numplayers = length(player_name)) %>% arrange(desc(numplayers))

  country               numplayers
1 USA                   432
2 Canada                  2
3 Congo                   1
4 Croatia                 1
5 Jamaica                 1
6 Lithuania               1
7 Nigeria                 1
8 Serbia and Montenegro   1
9 Ukraine                 1

As you can see only 8 other countries had players in the nba combining for 9 total players in the 1996-97 season.

#### Question 1

Filter a new data set, 'season1617' here and perform the head() function on it to check your new data set.

In [45]:
#your code here

#### Question 2

Now that you have data from the 2016-17 season selected, we can group the number of players by country for the season of 2016-17. Make the name of the number of players column 'numplayers'. Use the arrange function to put your data in descending order.

In [47]:
#your code here

#### Question 3

How many other countries participate in the NBA in the 2016-17 season? How does this compare to the 1996-97 season?

In [50]:
#your code here

#### Question 4

How many players are not from the USA in 2016-17 season? How does this compare to the 1996-97 season?

In [53]:
#your code here

# Problem 3

For problem 3, you are going to further explore the nba data set using the skills you learned above.

#### Question 1

Find the average player pts in the nba data set.

In [57]:
# your code here

#### Question 2

Group by player and find average points. Use that to find the player who has averaged the most points in the NBA data set. Make the column name 'avg_pts'.

In [61]:
#your coder here

#### Question 3

Do the same for rebounds and assists. Group by player name to find average rebound and assist leaders in the nba data set.

In [64]:
#rebounds
#your code here

In [65]:
#assists
#your code here

#### Question 4

Find out which 3 colleges have sent the most players to the NBA in the whole data set.
- Note: Be careful how you summarize so that each indvidual player's college does not get counted more than once.

In [66]:
#your code here

#### Question 5

Basketball is not as intense on the body as a sport like football. Therefore, many players find themselves in the league for multiple years. What is the average amount of seasons that an NBA player will play?

In [69]:
#your code here

In [70]:
#your code here

<hr>
#### For an .ipynb file of this lab follow<a href="https://github.com/anthonyiarussi/Introduction-to-Data-Science/tree/master/Student%20Labs/Labs%20.ipynb/Lab3" target="_blank">this link</a>.

#### For a .Rmd file of this lab follow <a href="https://github.com/anthonyiarussi/Introduction-to-Data-Science" target="_blank">this link</a>.
<hr>
#### Go to the <a href="https://github.com/anthonyiarussi/Introduction-to-Data-Science" target="_blank">GitHub repository</a>, where you can download a copy of the lab for yourself!